<h1>Show Sub</h1>
<%= @sub.title %>
<%= @sub.description %>
<br>
<a href="<%= new_post_url %>"> Make a new post </a>

<ul>
    <%= @sub.posts.each do |post| %>
        <li><a href="<%= post_url(post) %>"><%= post.title %></a></li>
    <% end %>
</ul>